@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rightToLeft {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}

.animate-right-to-left {
    display: inline-block;
    animation: rightToLeft 15s linear infinite;
}


